@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    padding: 20px;
}

.bigbox {
    width: 87vw;
    padding-top: 20px;
    border-radius: 30px;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 30px;
}

.left {
    flex: 1.2;
    background: transparent;
    position: relative;
    border-radius: 30px 0 0 30px;
    overflow: hidden;
    border: 7px solid whitesmoke;
}

.overlay {
    width: 100%;
    height: 100%;
    padding: 40px;
    background: rgba(0, 0, 0, 0.35);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu span {
    font-size: 18px;
    font-weight: 500;
}

.buttons a {
    margin-left: 10px;
    padding: 8px 18px;
    border-radius: 25px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
}

.solid-btn {
    background: #fff;
    color: #000 !important;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.profile img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #fff;
}


.right {
    flex: 1;
    background: whitesmoke;
    padding: 40px;
    border-radius: 0 30px 30px 0;
}

.right h2 {
    font-size: 35px;
    padding-bottom: 10px;
    font-weight: 600;
}

.welcome {
    margin-top: 5px;
    margin-bottom: 25px;
    color: #555;
}

form label {
    display: block;
    font-size: 14px;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
}

.forgot {
    text-align: right;
    margin: 5px 0 15px;
}

.forgot a {
    color: #e84a43;
    text-decoration: none;
    font-size: 13px;
}

.divider {
    text-align: center;
    margin: 15px 0;
}

.google-btn {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
    margin-bottom: 15px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background: #ff4d3b;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
    cursor: pointer;
}

.signup-text {
    font-size: 14px;
    text-align: center;
}

.signup-text a {
    color: #e84a43;
    text-decoration: none;
}

.socials {
    margin-top: 25px;
    display: flex;
    gap: 20px;
    font-size: 22px;
}





@media (max-width: 768px) {

    .container {
        flex-direction: column;
        height: auto;
    }

    .left {
        height: 320px;
        border-radius: 20px;
    }

    .overlay {
        padding: 20px;
    }

    .right {
        border-radius: 20px;
        padding: 25px;
        margin-top: 15px;
    }

    .right h2 {
        font-size: 28px;
    }

    .buttons a {
        padding: 6px 15px;
        font-size: 12px;
    }

    .top-menu span {
        font-size: 16px;
    }
}

@media (max-width: 480px) {

    .left {
        height: 250px;
    }

    .overlay {
        padding: 15px;
    }

    .right {
        padding: 20px;
    }

    .right h2 {
        font-size: 24px;
    }

    form input {
        padding: 10px;
    }

    .google-btn,
    .login-btn {
        padding: 10px;
        font-size: 14px;
    }
}
